<!DOCTYPE html>
<html>
<head>
  <title>Parse du Tweets</title>
</head>
<body>
  <div>
    <h1>Parse du Tweets</h1>
    <hr />
    <p>Periods: <%= periods %></p>
    <p>Commas: <%= commas %></p>
    <p>Question Marks: <%= questions %></p>
    <p>Exclamation Points: <%= exclamations %></p>
    <p>Dashes: <%= dashes %></p>
    <p>Colons: <%= colons %></p>
    <p>Semicolons: <%= semicolons %></p>
    <p>Apostrophes: <%= apostrophes %></p>
  </div>
</body>
</html>
