<h1>YOUR PUNCTUATION COUNTS</h1>
<hr />
<p>PERIODS: <%= periods %></p>
<p>COMMAS: <%= commas %></p>
<p>QUESTIONS: <%= questions %></p>
<p>EXCLAMATIONS: <%= exclamations %></p>
<p>DASHES: <%= dashes %></p>
<p>COLONS: <%= colons %></p>
<p>SEMICOLONS: <%= semicolons %></p>
<p>APOSTROPHES: <%= apostrophes %></p>
