extends base
block content
	.container
		.row
			.col.s6.offset-s3
				h1 @#{userInput}
				.divider
				p.flow-text periods: #{periods}
				p.flow-text commas: #{commas}
				p.flow-text questions: #{questions}
				p.flow-text exclamations: #{exclamations}
				p.flow-text dashes: #{dashes}
				p.flow-text semicolons: #{semicolons}
				p.flow-text apostrophes: #{apostrophes}
